#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 2, 0
PRODUCTVERSION 1, 0, 2, 0
FILEFLAGSMASK 0x17L
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN

BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "000004b0"
		BEGIN
			VALUE "CompanyName", "REC GmbH"
			VALUE "FileDescription", "example_gyrocal application"
			VALUE "FileVersion", "1, 0, 2, 0"
			VALUE "InternalName", "example_gyrocal"
			VALUE "LegalCopyright", "Copyright (C) 2004-2018 REC GmbH"
			VALUE "OriginalFilename", "example_gyrocal.exe"
			VALUE "ProductName", "example_gyrocal"
			VALUE "ProductVersion", "1, 0, 2, 0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0, 1200
	END
END
